* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#ROOT {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  margin: 5em;
}
#ROOT .main .menu .undo {
  max-width: 15vw;
}
#ROOT .main .menu, #ROOT .main .actions, #ROOT .main .newAction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#ROOT .main .menu .addCard, #ROOT .main .menu .newAction .discard, #ROOT .main .menu .newAction .bet, #ROOT .main .actions .addCard, #ROOT .main .actions .newAction .discard, #ROOT .main .actions .newAction .bet, #ROOT .main .newAction .addCard, #ROOT .main .newAction .newAction .discard, #ROOT .main .newAction .newAction .bet {
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
#ROOT .main .menu .addCard > *, #ROOT .main .menu .newAction .discard > *, #ROOT .main .menu .newAction .bet > *, #ROOT .main .actions .addCard > *, #ROOT .main .actions .newAction .discard > *, #ROOT .main .actions .newAction .bet > *, #ROOT .main .newAction .addCard > *, #ROOT .main .newAction .newAction .discard > *, #ROOT .main .newAction .newAction .bet > * {
  margin: 0.5em 0;
  padding: 0.3em;
}
#ROOT .main .cards {
  margin: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#ROOT .main .deck .title, #ROOT .main .gameCards .title {
  font-size: 2em;
}
#ROOT .main .card {
  overflow: hidden;
}
#ROOT .main .card:hover .bets {
  transform: translateX(0%);
}
#ROOT .main .card .name {
  font-size: 1.5em;
}
#ROOT .main .card .description {
  margin: 1em;
}
#ROOT .main .card .probability {
  background: rgba(0, 0, 0, 0.062745098);
  border-radius: 1em;
  width: fit-content;
  padding: 0.5em;
}
#ROOT .main .card .probability .title {
  font-size: 1.1em;
}
#ROOT .main .card .bets {
  transition: 0.5s;
  transform: translateX(101%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
}
#ROOT .main .card .bets .title {
  font-size: 1.1em;
}
#ROOT .main .card .bets .probability {
  font-size: 0.8em;
}
#ROOT .settings {
  display: flex;
  flex-direction: column;
}
#ROOT .settings .cards .cardList {
  margin: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#ROOT .settings .cards .cardList .card input, #ROOT .settings .cards .cardList .card textarea {
  padding: 0.2em;
  margin: 0.2em;
  font-size: 0.9em;
  resize: vertical;
  max-width: 100%;
}
#ROOT .settings .cards .cardList .card label {
  margin: 0.5em 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.3em solid black;
  border-radius: 1em;
  margin: 1em;
  padding: 0.52em;
  width: 12em;
  height: 18em;
  text-align: center;
  position: relative;
}
.card button {
  position: absolute;
  bottom: 0.2em;
}
